<header>
    <h1>TECH BLOG</h1>
</header>
<div class="card">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{{#if posts}}
  <ul>
    {{#each posts}}
      <li>
        <h2>{{title}}</h2>
        <p>{{content}}</p>
        <p>Posted by {{user.username}} on {{createdAt}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No posts yet.</p>
{{/if}}
